
@media(max-width:1251px){
    html, body {
        /* font-size: 14px; */
    }
    .container {
        width: 999px;
        margin: 0 auto;
    }
    .navi {
        display: none;
    }
    .tabcontent > .dulle-imagebox {
        left: 350px;
    }
    .tabcontent > .dulle-textbox {
        width: 100%;
        padding-top: 25%;
    }
}
@media(max-width:1000px){
    html, body {
        font-size: 14px;
    }
    .container {
        width: 779px;
    }
    #home span {
        display: block;
        padding: 20px 0;
    }
    #story .story-background > .container > div,
    #around > .container > div {
        width: 100%;
        height: 360px;
        float: inherit;
    }
    #story .story-center, #around .around-center {
        margin: 0;
    }
    #dulle .dulle-button {
        width: 80%;
        margin: 0 auto;
    }
    #dulle .tablinks {
        width: 19%;
        margin: 0 .5%;
        line-height: 35px;
    }
    
    #dulle .dulle-map,
    #dulle #dullecourse01 > .marker1,
    #dulle #dullecourse02 > .marker2,
    #dulle #dullecourse03 > .marker3,
    #dulle #dullecourse04 > .marker4,
    #dulle #dullecourse05 > .marker5 {
        top: 90px;
        left: 10%;
        width: 80%;
    }
    #dulle .tabcontent {
        width: 80%;
        margin: 0 auto;
    }
    .tabcontent > .dulle-textbox {
        padding-top: 50%;
    }
    #around > .titlebox {
        color: #343434;
    }
    #around .around-background {
        display: none;
    }
    #around .around-title:after {
        display: none;
    }
    #gallery .slider-for {
        height: 350px;
    }
    #none {
        display: none;
    }
    .section06 .way-map {
        width: 100%;
        margin-right: 0;
    }
    .section06 .way-information {
        width: 100%;
        margin-bottom: 5%;
    }
    #way .way-information img {
        margin: 0 auto;
        float: inherit;
        display: block;
        padding: 0;
    }
    #way .way-information p {        
        float: inherit;
        text-align: center;
    }
    #way br {
        display: inherit;
    }
}
@media(max-width:780px) {
    html, body {
        /* font-size: 12px; */
    }
    .container {
        width: 500px;
    }
    .section03 .dulle-textbox br {
        display: block;
    }
    .tabcontent .dulle-imagebox {
        bottom: 255px;
        width: 110px;
        height: 110px;
    }
    .tabcontent .dulle-imagebox > img {
        height: 110px;
    }
    .section03 .dulle-button br {
        display: block;
    }
    #gallery .gallery-wrapMo {
        display: block;
    }
    #gallery .gallery-wrap {
        display: none;
    }
    #gallery .gallery-wrapMo button {
        display: block !important;
    }
}
@media(max-width:500px) {
    html, body {
        /* font-size: 11px; */
    }
    .container {
        width: 400px;
    }
    .section06 .way-information img {
        width: 45px;
    }
}
@media(max-width:400px) {
    html, body {
        /* font-size: 10px; */
    }
    .container {
        width: 320px;
    }
}