/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Noto Sans KR', sans-serif;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
.fas {
	font-size: 50px;
	color: inherit;
}
/*-------------------------------------------------------- COMMON AREA */
section {
	padding: 88px 0;
}
.container {
	width: 1251px;
	margin: 0 auto;
}
.clear-fix:after {
	content: "";
	clear: both;
	display: block;
}
.titlebox {
	position: relative;
	width: 100%;
	text-align: center;
	z-index: 10;
}
.titlebox h1 {
	font-size: 1.87rem;
	letter-spacing: 4px;
	margin-bottom: 20px;
}
.titlebox h1 span {
	margin-left: 1.25rem;
	color: #f86b75;
}
.titlebox p {
	font-size: 1.1rem;
	letter-spacing: 2px;
	margin-bottom: 55px;
}
/*-------------------------------------------------------- COMMON AREA */
/*-------------------------------------------------------- SECTION02 (STORY) AREA */
.story-background > .container > div,
.section04 > .container > div {
    width: 30%;
    float: left;
	text-align: center;
}
.story-center, .around-center {
    margin: 0 5%;
}
/*-------------------------------------------------------- SECTION02 (STORY) AREA */
/*-------------------------------------------------------- SECTION03 (DULLE) AREA */
.section03 {
	position: relative;
}
.dulle-button > .tablinks {
	width: 120px;
	height: 120px;
	float: left;
	text-align: center;
	line-height: 120px;
	font-weight: 500;
	margin: 0 5px 5px 0;
	background-color: #ecf1f5;
	color: #194c42;
}
.dulle-button > .tablinks.active {
    background: #194c42;
    color: #f9f9f9;
}

#dullecourse01, #dullecourse02, #dullecourse03, #dullecourse04, #dullecourse05 {
	padding-top: 400px;
}
/*-------------------------------------------------------- SECTION03 (DULLE) AREA */